@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}

.bg-image {
  background-image: url('./assets/bgImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
